@addTagHelper *, Kentico.Content.Web.Mvc

@model SafetyInc.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

@section styles
{
    @* Includes CSS necessary for page builder functionality *@
    <page-builder-styles />
}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>@Model.BannerHeader</h1>
            <p class="lead text-muted">@Model.BannerSubtext</p>
            <editable-area area-identifier="editableArea" />
            <p>
                <a class="btn btn-primary my-2" asp-action="Index" asp-controller="SafetyDiscussion">@Model.BannerManageText</a>
                <a class="btn btn-secondary my-2" asp-action="Create" asp-controller="SafetyDiscussion">@Model.BannerNewDiscussionText</a>
            </p>
        </div>
    </section>
</main>

@section scripts
{
    @* Includes scripts necessary for page builder functionality *@
    <page-builder-scripts />
}