@model SafetyInc.Models.SafetyDiscussionViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Delete Safety Discussion</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <form asp-action="Delete">
                    <input type="submit" value="Confirm" class="btn btn-sm btn-outline-secondary" />
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Index">Cancel</a>
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ObserverFullName" class="control-label"></label>
                    <input asp-for="ObserverFullName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="ColleagueNames" class="control-label"></label>
                    <input asp-for="ColleagueNames" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input class="form-control" id="date-time-picker" type="text" readonly value="@Model.Date.ToString("dd/MM/yyyy hh:mm tt")" />
                </div>
                <div class="form-group">
                    <label asp-for="LocationString" class="control-label"></label>
                    <input asp-for="LocationString" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Outcomes" class="control-label"></label>
                    @Html.Kentico().ResolveUrls(Model.Outcomes)
                </div>
            </form>
        </div>
    </div>
</div>